.social-container{
	display:flex;
	gap:20px;
	justify-content:center;
	margin-top:50px
}

.social-icon{
	color:#333;
	transition:transform 0.3s, color 0.3s;
	text-decoration:none;
}

.social-icon:hover{
	transform:scale(1.2);
}

.social-icon:hover .fa-facebook{
	color:#1877f2;
}


.social-icon:hover .fa-twitter{
	color:#1da1f2;
}


.social-icon:hover .fa-instagram{
	color:#e4405f;
}


.social-icon:hover .fa-linkedin{
	color:#0077b5;
}